
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container-fluid">
    <div class="card">
        <div class="card-header font-weight-bold d-flex justify-content-between align-items-center"
             style="box-sizing: border-box">
            <h5 class="m-0 ">Chi Tiết Ca Làm</h5>

        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Ca</th>
                        <th scope="col">Giờ vào</th>
                        <th scope="col">Giờ ra</th>
                        <th scope="col">Ngày</th>
                        <th scope="col">Nhóm</th>
                        <th scope="col">Công Việc</th>
                        <th scope="col">Số sản phẩm hoàn thành</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>1</td>
                        <td>06:00:00</td>
                        <td>14:02:07</td>
                        <td>21/10/2021</td>
                        <td>Làm riêng</td>
                        <td>Đóng gói</td>
                        <td>1000</td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>


