
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container-fluid">
    <div class="card">
        <div class="card-header font-weight-bold d-flex justify-content-between align-items-center"
             style="box-sizing: border-box">
            <h5 class="m-0 ">DANH SÁCH LÀM CHUNG</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped table-checkall">
                <thead>
                    <tr>
                        <th scope="row">STT</th>
                        <th scope="rowgroup">Mã công nhân</th>
                        <th scope="rowgroup">Tên công nhân</th>
                        <th scope="row">Phòng Ban</th>
                        <th scope="row">Chức vụ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>3</td>
                        <td>Lê Văn Mạnh</td>
                        <td>Nhân Sự</td>
                        <td>Công nhân</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>5</td>
                        <td>Nguyễn Thị Hoa</td>
                        <td>Cán bộ</td>
                        <td>Quản lý</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
